<%- include("header") -%>

<title>Notes</title>

<div class="row">
	<% notes.forEach(note=>{ %>
<div class="noteBox col-lg-4 col-md-6 col-sm-12 col-xs-12">
	<div class="dropright">
    <h3 class="noteTitle" style="background-color: <%= note.color %>;"><%= note.title %>
<% if (!newUser) { %>
    	<button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
    	<div class="dropdown-menu">
    		<a href="/editNote/<%= note._id %>"><i class="far fa-edit"></i>Edit</a>
    		<div class="dropdown-divider"></div>
    		<a href="/delete/<%= note._id %>"><i class="fas fa-trash"></i>Delete</a>
		</div>
<% } %>
</h3>
</div>

	<p class="noteBody" style="background-color: <%= note.color %>;"><%= note.body %></p>
</div>
<% }) %>
</div>

<a href="/<%= userId %>/compose"><button class="btn btn-primary compose"><i class="fas fa-plus"></i></button></a>

<% console.log() %>

</body>
</html>

